<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='assets/favicon2.png') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Homemade+Apple&family=Parisienne&family=Playball&family=Schoolbell&display=swap"
      rel="stylesheet"
    />
    <title>Persephone</title>
  </head>
  <body
    class="bg-rose-900 text-gray-100 flex flex-col justify-between min-h-screen"
  >
    <div
      class="flex-grow flex flex-col justify-center items-center mt-12 mb-20"
    >
      <div class="max-w-lg w-full px-4">
        <h1 class="text-center text-6xl mb-6">Persephone</h1>
        <h2 class="text-center text-2xl mb-8">Your Task Management App</h2>
        <div class="flex justify-center mb-8">
          <img
            src="{{ url_for('static', filename='assets/persephone.png') }}"
            alt="Persephone Logo"
            class="w-32 h-32 mb-4"
          />
        </div>
        <form
          action="{{ url_for('add_task') }}"
          method="post"
          class="flex items-center mb-8"
        >
          <input
            type="text"
            name="task"
            placeholder="Enter a new task..."
            required
            class="p-2 rounded border border-gray-300 mr-2 focus:outline-none focus:border-rose-600 flex-grow text-rose-600"
          />
          <button
            type="submit"
            class="p-2 bg-rose-600 text-white rounded hover:bg-rose-700 transition duration-300"
          >
            Add Task
          </button>
        </form>

        {% if error_message %}
        <p class="text-red-200 text-center mb-4">{{ error_message }}</p>
        {% endif %}

        <ul>
          {% for task in tasks %}
          <li class="bg-rose-800 text-white p-3 rounded mb-4">
            <span class="text-center">{{ task['task'] }}</span>
            <div class="mt-2 flex items-center justify-center">
              <form
                action="{{ url_for('edit_task', task_id=task['id']) }}"
                method="post"
                class="flex items-center"
              >
                <input
                  type="text"
                  name="task"
                  placeholder="Edit task..."
                  required
                  class="p-2 rounded border border-rose-300 mr-2 text-rose-600 focus:outline-none focus:border-rose-600"
                />
                <button
                  type="submit"
                  class="p-2 bg-emerald-600 text-white rounded hover:bg-emerald-700 transition duration-300"
                >
                  Save
                </button>
              </form>
              <form
                action="{{ url_for('delete_task', task_id=task['id']) }}"
                method="post"
              >
                <button
                  type="submit"
                  class="p-2 bg-rose-600 text-white rounded hover:bg-rose-700 transition duration-300 ml-2"
                >
                  Delete
                </button>
              </form>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <footer class="text-center bg-rose-950 p-4">
      <p class="text-lg">
        Made with ❤️ by
        <a
          href="https://github.com/aronmilenait"
          class="text-rose-300 hover:text-rose-400"
          >Milena S. Aron</a
        >
      </p>
    </footer>
  </body>
</html>
